.DS_Store
stemflow_mini_test/*
*.cache
*/dataset/test_data/*
*.csv
!*/mini_data/*
*.txt
*/__pycache__/*
__pycache__/*
stemflow/model/__pycache__/*
stemflow/utils/__pycache__/*
stemflow/*/__pycache__/*
stemflow/__pycache__/*
*.DS_Store
*.docx
*/references/*
.github/workflows/publish-pypi.yml
